# npm модули
# компоненты bower (путь установки см. .bowerrc)
node_modules
#applications/in-wave/static/elements/

# Всякие логи
log/*.log
applications/in-wave/log/*.log

# Всякие конфиги
#config
#applications/in-wave/config

# Runtime data
#applications/in-wave/tmp
#applications/in-wave/files